@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo {
    font-family: 'Grand Hotel', cursive;
}

a {
    color:black !important;
}

/* Login Page */

* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #eee;
  }
  
  #wrapper {
    width: 400px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
  }
  
  .main-content {
    width: 400px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  
  .header {
    border: 0px solid #000;
    margin-bottom: 5px;
  }
  
  .header img {
    height: 50px;
    width: 175px;
    margin: auto 60px;
    position: relative;
  }
  
  .input-1,
  .input-2 {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .overlap-text {
    position: relative;
  }
  
  .overlap-text a {
    position: absolute;
    top: 18px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: -1px;
  }
  
  .btn {
    width: 100%;
    margin-top: 20px;
    background-color: #1a8bf5;
    border: 1px solid #3897f0;
    padding: auto ;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .sub-content {
    width: 320px;
    height: 40%;
    margin: 60px auto 0;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
  }
  
  .s-part {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  
  .s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  
  input:focus {
      background-color: yellow;
  }
  
  /* Profile */

  .gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .item {
    width: 30%;
  }
  .profile-body {
    max-width: 550px;
    margin: 0px auto;
  }

  /* Home */

  .home-card {
    max-width: 600px;
    height: max-content;
    margin: 25px auto;
  }

  .material-icons:hover {
    cursor: pointer;
  }

  /* create post */

  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
  }